<app-top-bar (productsFiltered)="onProductsFound($event)"></app-top-bar>

<div>
  <div>
    <app-category></app-category>
  </div>

  <div class = "products_list">
    <div class = "product_window box-row-product" *ngFor="let product of currentProducts">
      <div class = "product_image_box">
        <img class = "product_img" src = "../../assets/productsAlbum/{{product.name}}.png" alt = "{{product.name}}">
      </div>
      <div class = "product_about box-column">
        <div class = "product_title">
          <h3 class = "title">
            <a class = "title_set" [title]="product.name + ' details'" [routerLink] = "['/product', product.id]">
              {{ product.name }}
            </a>
          </h3>
        </div>
        <div class = "product_description">
          <p *ngIf = "product.description" class = "product_description">
            <span class = "description">Description</span>: <br>
            <span class = "product_description_text">{{product.description}}</span>
          </p>
        </div>
      </div>
      <div class = "product_price_box box-column">
        <p><span class = "price_paragraph">Price:</span> <span class = "product_price">
                {{product.price | currency: '₸'}}</span>
        </p>
  <!--      <p><span class = "rating_paragraph">Rating:</span> <span class = "rating">-->
  <!--              {{product.rating}}-->
  <!--            </span>-->
  <!--      </p>-->
        <ng-container *ngIf="!isLogged">
          <div class = "sharing_box box-row">
            <p>YOU NEED TO AUTHORISE TO SHARE OR ORDER</p>
          </div>
        </ng-container>
        <ng-container *ngIf="isLogged">
          <div class = "sharing_box box-row">
            <button class = "sharing order_button" style = "margin-right: 30px" >Add</button>
            <button class = "sharing share_button">Details</button>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>
