.product_detail_box{
  width:80%;
  margin-left: 50px;
  margin-top: 50px;
  background-color: #1d2021;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 4px 0 darkgray;
}
.product_image_box{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.product_img{
  width:300px;
  transition: 1s;
  border-radius: 10px;
}
.product_img:hover{
  width:350px;
}
.product_about{
  width:50%;
  margin-left: 30px;
  margin-right: 50px;
}
.product_title{
  margin-top: -25px;
  height: 70px;
}
#heading_title{
  font-weight: 500;
}
.product_description{
  font-size: 20px;
}
.product_price_box{

  margin-right: 20px;
  display: flex;

}
.price_paragraph, .rating_paragraph{
  font-size: 20px;
}

.product_price{
  margin: 0 0 0 20px;
  font-weight: 600;
  font-style: oblique;
}
.product_price, .rating{
  font-size: 20px;
}
.rating{
  margin: 0 0 0 10px;
  font-weight: 600;
  font-style: oblique;
}
.sharing_box{
  margin-top: 80px;
}
.sharing{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
}
.sharing:hover{
  cursor: pointer;
}
.share_button{
  background-color: cornflowerblue;
}
.share_button:hover{
  background-color: #286ce6; /*darker*/
}
.order_button{
  background-color: limegreen;
}
.order_button:hover{
  background-color: #28a428;
}
#click{
  margin-left: 30px;
  width: fit-content;
}
#click:hover{
  cursor: pointer;
}
.commentary{
  margin-left: 30px;
}

.comment_box{
  margin-bottom: 15px;
  width: 80%;
  background-color: #1d2021;
  box-shadow: 0 1px 4px 0 darkgray;
}
.username_box{
  margin-left: 20px;
  font-family: monospace;
  display: flex;
  align-items: center;
}
.user_name{
  font-size: x-large;
  font-weight: 500;
}
.created_at{
  font-size: medium;
  color: darkgray;
  margin-left: 10px;
}
.comment{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: -20px;
  font-family: "Segoe UI";
}
.give_comment{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 100px;
}
.user_input_text{
  width: 400px;
  height: 50%;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.submitComment{
  margin-left: 20px;
  height: 50%;
}
.submitComment:hover{
  cursor: pointer;
}
