
<div class = "top_bar box-row">
  <div class = "logo">
    <a [routerLink] = "['']"><img src = "assets/webIcons/cup-hot-svgrepo-com.svg" class = "img_logo"></a>
  </div>
  <div class = "searching_panel">
    <input [(ngModel)] = "searchText"
           type = "text"
           placeholder = "Cappuccino..."
           class = "searching_panel_input input_change">
    <a (click)="Search()" class = "search_button">Search</a>
  </div>
  <div class = "menu box-row">
    <a [routerLink] = "['/basket']" style="width: 50px"><img src="assets/webIcons/cart-shopping-svgrepo-com.svg" class = "basket" alt=""></a>
    <ng-container *ngIf="isLogged">
      <div class = "box-row">

        <div class = "box-row LogOut" (click)="logout()">
          <img class = "log-service" src="assets/webIcons/logout.svg" alt="log out">
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLogged">
      <div class = "box-row">
        <a [routerLink] = "['/login']" class = "menu_tool box-row">
          <img id = "sign_in" class = "top_bar_buttons push" src = "assets/webIcons/login.svg">
          <span class = "LogService">Sign In</span>
        </a>
      </div>
    </ng-container>
  </div>
</div>
